
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/src/config
/config/
/config
/src/config/.env

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
